@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --colordefondo: #000000;    
    --colordebotones: #f2e900;
    --letrabotones: #ff1111;
    --letratexto: #007aff;
    --fondotarjetas: #083e12;
    --fondotarjetas2: #4a2152;




}

