@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --colordefondo: #000000;    
    --fondotarjetas: #f2e900;
    --colordebotones: #f2e900;
    --letratexto: #007aff;
    --letrabotones: #ff0000;
    --fondotarjetas2: #4a2152;
    



}

